* {
    box-sizing: border-box;
}

body {
    background-color: rgb(237, 240, 211);
}

li {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: italic;
    border: 2px solid green;

}

h1 {
    padding: 20px 5px;
    color: blue;
}

.img {
    margin-top: 20px;
    margin-left: 600px;
    margin-bottom: 50px;
}

.list {
    display: inline-block;
    margin: 0px auto;
}